{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
      <div class="banner_content text-center">
        <h2>Review</h2>
        <div class="page_link">
          <a href="{% url 'main' %}">Home</a>
          <a href="{% url 'reviews:ReviewList' %}">Review</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--================End Home Banner Area =================-->

<!--================Blog Categorie Area =================-->
<section class="blog_area">
  <div class="container">
    <div class="single-element-widget sort">
      <div class="single-element-widget default-select sort-select" id="default-select">
        <select class="so" onclick="sortClick()">
          {% if "/?review" in request.get_full_path %}
          <option class="sort-recent" selected value="?sort=recent" selected>최신순</option>
          <option class="sort-click" value="?sort=click">클릭순</option>
          <option class="sort-recommend" value="?sort=recommend">추천순</option>
          <option class="sort-review" selected value="?sort=review">리뷰순</option>

          {% elif "/?click" in request.get_full_path %}
          <option class="sort-recent" value="?sort=recent">최신순</option>
          <option class="sort-click" selected value="?sort=click">클릭순</option>
          <option class="sort-recommend" value="?sort=recommend">추천순</option>
          <option class="sort-review" value="?sort=review">리뷰순</option>

          {% elif "/?recommend" in request.get_full_path %}
          <option class="sort-recent" value="?sort=recent">최신순</option>
          <option class="sort-click" value="?sort=click">클릭순</option>
          <option class="sort-recommend" selected value="?sort=recommend">추천순</option>
          <option class="sort-review" value="?sort=review">리뷰순</option>

          {% else %}
          <option class="sort-recent" selected value="?sort=recent">최신순</option>
          <option class="sort-click" value="?sort=click">클릭순</option>
          <option class="sort-recommend" value="?sort=recommend">추천순</option>
          <option class="sort-review" value="?sort=review">리뷰순</option>

          {% endif %}

        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="blog_left_sidebar">
          {% for review in reviews %}
          <article class="row blog_item">
            <div class="col-md-3">
              <div class="blog_info text-right">
                <div class="post_tag">
                  {{ forloop.counter }}
                </div>
                <ul class="blog_meta list">
                  <li><a href="#">{{review.writer}}<i class="lnr lnr-user"></i></a></li>
                  <li><a href="#">{{review.pub_date}}<i class="lnr lnr-calendar-full"></i></a></li>
                  <li><a href="#">{{review.view_count}}<i class="lnr lnr-eye"></i></a></li>
                  <li><a href="#">{{review.comments.count}} Comments<i class="lnr lnr-bubble"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="blog_post">
                <img src="#" alt="">
                <div class="blog_details">
                  <a href="{%url 'reviews:ReviewDetail' review.id%}">
                    <h2>
                      <img class="foot" src="{% static 'img/gallery/foot.png' %}">
                      {{review.title}}
                    </h2>
                  </a>
                  <!-- <h4>{{review.hospital}}</h4> -->
                  <!-- <p>content</p> -->
                  <a href="{%url 'reviews:ReviewDetail' review.id%}" class="white_bg_btn">View More</a>
                </div>
              </div>
            </div>
          </article>
          {% endfor %}

          <!-- Pagination  -->
          <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
              {% if reviews.has_previous %}
              <li class="page-item">
                <a data-page="{{ reviews.previous_page_number }}"
                  href="?kw={{ kw }}&page={{ reviews.previous_page_number }}" tabindex="-1" class="page-link"
                  aria-label="Previous">
                  <span aria-hidden="true">
                    <span class="lnr lnr-chevron-left"></span>
                  </span>
                </a>
              </li>
              {% endif %}

              {% for page_number in reviews.paginator.page_range %}
              {% if page_number == reviews.number %}
              <li class="page-item active">
                <a href="?kw={{ kw }}&page={{ page_number }}" class="page-link"
                  data-page="{{ page_number }}">{{page_number}}</a>
              </li>
              {% else %}
              <li class="page-item">
                <a href="?kw={{ kw }}&page={{ page_number }}" class="page-link"
                  data-page="{{ page_number }}">{{page_number}}</a>
              </li>
              {% endif %}
              {% endfor %}

              {% if reviews.has_next %}
              <li class="page-item">
                <a href="?kw={{ kw }}&page={{ reviews.next_page_number }}" class="page-link"
                  data-page="{{ reviews.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">
                    <span class="lnr lnr-chevron-right"></span>
                  </span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <form id="searchForm" method="get" action="{% url 'reviews:ReviewList' %}">
      <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
      <input type="hidden" id="so" name="so" value="{{ so }}">
      <input type="hidden" id="page" name="page" value="{{ page }}">
    </form>
  </div>
</section>

<link rel="stylesheet" href="{% static 'css/component/ReviewList.css' %}" />
<script type="text/javascript" src="{% static 'js/component/search.js'%}"></script>
<!-- <script type="text/javascript" src="{% static 'js/component/sort.js'%}"></script> -->


{% endblock %}