{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/component/ReviewDetail.css' %}" />

<main class="main" id="top">
  <section class="my-3">
    <div class="py-6">
      <table class="table-content">
        <tr class="review-title-tr">
          <td class="review-title">
            <img src="../static/img/gallery/dog.png" />
            <h2>{{review.title}}</h2>
          </td>
        </tr>
        {%if user.is_authenticated%}
        <tr class="review-date-tr">
          <td class="review-date">작성자: {{user.username}} &nbsp; 작성일자: {{review.pub_date}}</td>
        </tr>
        <tr class="review-hospital-tr">
          <td class="review-hospital">위치:
            {%if review.hospital == none %}
            (미입력)
            {% else %}
            {{review.hospital}}

            {% endif %}
          </td>
        </tr>
        <tr class="review-content-tr">
          <td class="review-content">{{review.content}}</td>
        </tr>
        <tr>
          <td style="padding-bottom: 5%;">
            <div class="review-btn">
              <a class="btn hover-top btn-collab-outline text-gradient ms-2" href="#"> 삭제</a>
              <a class="btn hover-top btn-collab-outline text-gradient ms-2" href="{% url 'reviews:ReviewList' %}">
                목록가기</a>
            </div>
          </td>
        {% else %}
        <tr>
          <td><br><br>
            <center><h3>로그인하면 상세내용 열람이 가능해요!</h3>
            <form class="">
              <a class="btn hover-top btn-collab" href="{% url 'account_login' %}">로그인</a>
              <a class="btn hover-top btn-collab" href="{% url 'account_signup' %}">회원가입</a>
              <a class="btn hover-top btn-collab" href="{% url 'reviews:ReviewList' %}">목록가기</a>
            </form>
          </center><br><br>
          </td>
        </tr>
        {% endif %}
          
        </tr>
      </table>
    </div>
  </section>
</main>

{% endblock %}