{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/component/ReviewDetail.css' %}" />

<section class="contact_area p_120">
  <div class="container">
    <div class="col-lg-12">
      <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget author_widget">
          <img class="author_img rounded-circle" src="{% static 'img/gallery/dog.png' %}" alt="">
          <h2>{{review.title}}</h2>
          {%if user.is_authenticated%}
          <p>작성자: {{user.username}}</p>
          <p>작성일자: {{review.pub_date}}</p>
          <p>위치:
            {%if review.hospital == none %}
            (미입력)
            {% else %}
            {{review.hospital}}
            {% endif %}
          </p>
          <div class="br"></div>

        </aside>
        <aside class="single_sidebar_widget author_widget">
          <h5>{{review.content}}</h5>
          <div class="br"></div>
          <aside class="single-sidebar-widget newsletter_widget">
            <a class="bbtns" href="#">수정</a>
            <a class="bbtns" href="#">삭제</a>
          </aside>
        </aside>
        <div id="comment-section">
          <div class="form-floating">
            <form class="d-flex justify-content-center" action="{% url 'reviews:create_comment' review.id %}"
              method="POST">
              {%csrf_token%}
              <textarea class="form-control" name="content" id="comment-content" placeholder="댓글 입력"></textarea>
              <button type="submit" id="comment-submit" value="submit" class="btn submit_btn">작성하기</button>
            </form>
          </div>
          <ul id="comment-list" class="list-group list-group-flush">
            {% for comment in comments %}
            <article class="row blog_item">
              <div class="col-md-3">
                <div class="blog_info text-right">
                  <!-- <div class="post_tag">
                    {{ forloop.counter }}
                  </div> -->
                  <ul class="blog_meta list">
                    <li>{{comment.writer}}<i class="lnr lnr-user" style="margin-left: 10px;"></i></li>
                    <li>{{comment.created_at}}<i class="lnr lnr-calendar-full" style="margin-left: 10px;"></i></li>
                    <div class="default-select" id="default-select">
                      <select>
                        <option value="1">선택</option>
                        <option value="1">수정</option>
                        <option value="1">삭제</option>
                      </select>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="col-md-9">
                <div class="blog_details">
                  <p>{{comment.content}}</p>
                </div>
              </div>
            </article>
            <!-- <li class="list-group-item">
              {{comment.writer}}<br />
              {{comment.created_at}}<br />
              {{comment.content}} -->
            <!-- <i class="bi bi-three-dots-vertical"></i> -->
            <!-- <div class="dropdown float-end">
                <button class="dropdown-toggle" id="dropdownMenu">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                  <li><button class="dropdown-item" type="button">수정</button></li>
                  <li><button class="dropdown-item" type="button">삭제</button></li>
                </ul>
              </div> -->
            <!-- </li> -->
  
            {% endfor %}
          </ul>
        </div>
        {% else %}
        <h3>로그인하면 상세내용 열람이 가능해요!</h3>
        <aside class="single-sidebar-widget newsletter_widget">
          <a class="bbtns" href="{% url 'account_login' %}">로그인</a>
          <a class="bbtns" href="{% url 'account_signup' %}">회원가입</a>
          <a class="bbtns" href="{% url 'reviews:ReviewList' %}">목록가기</a>
        </aside>
        {% endif %}
      </div>
      

    </div>
  </div>
</section>

{% endblock %}