{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="contact_area p_120">
  <div class="container">
    <p class="page-title">키워드를 입력해주세요.</p>
    <div class="blog_right_sidebar">
      <div class="single_sidebar_widget search_widget">
        <div class="input-group">
          <input type="text" class="form-control kw search-input" placeholder="Search Posts" onkeyup="search()"
            value="{{ kw|default_if_none:'' }}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="clickSearch()">
              <i class="lnr lnr-magnifier"></i>
            </button>
          </span>
        </div><!-- /input-group -->
        <p class="br page-subtitle text-center">
          제목, 작성자로 키워드 검색이 가능합니다.
        </p>
      </div>
    </div>
    <form id="searchForm" method="get" action="{% url 'reviews:ReviewList' %}">
      <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    </form>
  </div>
</section>

<link rel="stylesheet" href="{% static 'css/component/SearchReview.css' %}" />

{% endblock %}