{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'css/component/diary.css' %}" rel="stylesheet" type="text/css" />
<br><br><br><br><br><br><br><br>

{% if user.is_authenticated %}
<div class="container">
    <br>
    <center>
        <form method="POST">
            <h1>내새끼 건강일지 작성</h1>
            <hr />
            {% csrf_token %}
            <div class="form form-table">
                {{ form.as_p }}
                <hr />
                <button type="submit" class="btn btn-info right"> Submit </button><br>
            </div>
        </form>
    </center>
</div>

{% else %}
<div class="container">
<h3>로그인 후 이용 가능합니다.</h3>
<a class="btn btn-info" href="{% url 'account_login' %}"><span>로그인</span></a>
<a class="btn btn-info" href="{% url 'account_signup' %}"><span>회원가입</span></a><br>
</div>
{% endif %}

{% endblock %}