{% load static %}

<link rel="stylesheet" href="{% static 'css/component/_navbar.css' %}" />

<header class="header_area">
  <div class="top_menu row m0">
    <div class="container">
      <div class="float-left">
        <ul class="list header_social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>
      </div>
      <div class="float-right">
        {%if user.is_authenticated%}
        <a class="dn_btn" href="{% url 'users:mypage' %}">{{user.username}}님, 안녕하세요:)</a>
        {% else %}
        <a class="dn_btn" href="{% url 'main' %}">내 새끼의 안전한 치료를 위해 집사들이 직접쓰는 리뷰</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="{% url 'main' %}">
          <img class="nav_logo" src="{% static 'img/gallery/logo_green.png' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto">
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">REVIEW</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'reviews:SearchReview' %}">리뷰 검색하기</a>
                <li class="nav-item"><a class="nav-link" href="{% url 'reviews:ReviewList' %}">리뷰 보기</a></li>
                {%if user.is_authenticated%}
                <li class="nav-item"><a class="nav-link" href="{% url 'reviews:write' %}">리뷰 작성하기</a></li>
                {% endif %}
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">DIARY</a>
              <ul class="dropdown-menu">
                {%if user.is_authenticated%}
                <li class="nav-item"><a class="nav-link" href="{% url 'diary:calendar' %}">일지 보기</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'diary:new' %}">일지 기록하기</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">로그인 후 이용 가능</a></li>
                {% endif %}
              </ul>
            </li>
            {%if user.is_authenticated%}
            <li class="nav-item"><a class="nav-link" href="{% url 'users:mypage' %}">마이페이지</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">로그아웃</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">로그인</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">회원가입</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>