{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block content %}

<section class="contact_area p_120" style="text-align: center;">
  <div class="container">
    <p class="page-title">로그인</p>
    <p><img src="{% static 'img/gallery/dog_1.png' %}" width="20%"></p>
    <form method="POST" action="{% url 'account_login' %}" id="account">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" value="submit" class="btn submit_btn">Login</button>
    </form>
  </div>
</section>

{% endblock %}