{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="contact_area p_120">
  <div class="container">
    <p class="page-title-nomargin"><img src="{% static 'img/gallery/foot.png' %}" width="4%">&nbsp;회원가입</p><Br>
    <p class="page-subtitle" style="color:var(--main-orange);">지금 바로 아냥아개를 시작하세요!</p><br>
    <div class="signup-container">
      <form method="POST" action="{% url 'account_signup' %}" id="account">
        {% csrf_token %} {{ form.as_p }}
        <div style="text-align: center;">
          <input type="submit" class="btn submit_btn" id="signup" value="회원가입">
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}