{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="home_banner_area">
  <div class="banner_inner d-flex align-items-center">
    <img class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
      src="{% static 'img/gallery/image1.png' %}" alt="" style="opacity: 0.8;" />
    <div class="container">
      <div class="banner_content text-center">
        <p id="header" class="mb-3"><b>아프냥? 나도아프개!</b></p>
        <p>내 새끼의 안전한 치료를 위해 집사들이 직접쓰는 리뷰</p>
        <a class="main_btn" href="{% url 'reviews:SearchReview' %}">리뷰검색</a>
        <a class="main_btn" href="{% url 'reviews:write' %}">리뷰쓰기</a>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<link rel="stylesheet" href="{% static 'css/component/main.css' %}">

<!--================Finance Area =================-->
<section class="finance_area">
  <div class="container">
    <div class="finance_inner row">
      <div class="col-lg-3 col-sm-6">
        <a class="finance_item" id="hospital_btn" href="#hospital_area">
          <div class="media">
            <div class="d-flex">
              <i class="bi bi-moon"></i>
            </div>
            <div class="media-body">
              <p class="icon-description">밤에도 진료 가능한 병원</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <span class="finance_item" id="community_btn" >
          <div class="media">
            <div class="d-flex">
              <i class="bi bi-chat-dots"></i>
            </div>
            <div class="media-body">
              <p class="icon-description">집사들의 커뮤니티</p>
            </div>
          </div>
        </span>
      </div>
      <div class="col-lg-3 col-sm-6">
        <span class="finance_item" id="review_btn">
          <div class="media">
            <div class="d-flex">
              <i class="bi bi-clipboard-plus"></i>
            </div>
            <div class="media-body">
              <p class="icon-description">진찰 기록과 리뷰</p>
            </div>
          </div>
        </span>
      </div>
      <div class="col-lg-3 col-sm-6">
        <span class="finance_item" id="diary_btn">
          <div class="media">
            <div class="d-flex">
              <i class="bi bi-calendar-check"></i>
            </div>
            <div class="media-body">
              <p class="icon-description">내새끼 건강 일기</p>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</section>
<!--================End Finance Area =================-->

<!--================hospital Area =================-->
<section class="p_120" id="hospital_area">
  <div class="container">
    <div class="main_title text-center">
      <div class="head-p">
        <p>내 주변 24시간 병원</p>
      </div>
      <p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.1s">언제든지 방문할 수 있는 병원을 찾아보세요</p>
    </div>
  </div>
</section>
<!--================End Courses Area =================-->

<!--================community Area =================-->
<section class="team_area p_120" id="community_area">
  <div class="container">
    <div class="main_title head-h">
      <h2 class="fadeIn wow" data-wow-duration="2s" data-wow-delay="0.3s" style="color: #777777;">집사들의 대화 공간</h2>
    </div>
    <div class="row team_inner">
      {% for user in profile %}
      <div class="col-lg-3 col-sm-6">
        <div class="team_item">
          <div class="team_img">
            <div class="hover">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="team_name">
            <h4>{{ user.user }}</h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!--================End Team Area =================-->

<!--================Testimonials Area =================-->
<section class="testimonials_area p_120" id="review_area">
  <div class="container">
    <div class="text-left head-p">
      <h2 class="fadeIn wow" data-wow-duration="2s" data-wow-delay="0.3s">집사들의 <br />솔직한 리뷰</h2>
    </div>
    <div class="testi_slider owl-carousel">
      {% for review in reviews%}
      <div class="item">
        <div class="testi_item">
          <h4 class="mb-2"><a href="{% url 'reviews:ReviewDetail' review.id %}" style="color: #777777;">[{{review.hospital}}] {{review.title}}</a></h4>
          <ul class="list">
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
          </ul>
          <p>{{review.writer}}</p>
          <p>{{review.content}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!--================End Testimonials Area =================-->

<!--================Pagkages Area =================-->
<section class="packages_area p_120" id="diary_area">
  <div class="container">
    <div class="row packages_inner">
      <div class="col-lg-4">
        <div class="packages_text head-h">
          <h2 class="fadeIn wow" data-wow-duration="2s" data-wow-delay="0.1s">건강일기 <br /></h2>
          <p class="fadeIn wow" data-wow-duration="2s" data-wow-delay="0.4s">내 반려동물의 건강관리를 위해서, 건강 관리 일기에 기록하세요. 소중한 시간을
            아껴드립니다.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="packages_item">
          <div class="pack_head">
            <i class="bi bi-calendar2-week"></i>
            <h3>작성한 일기 보기</h3>
            <p></p>
          </div>
          <div class="pack_body">
            <ul class="list">
              <li><a href="#">일별로 작성한 일기 보기</a></li>
              <li><a href="#">일기 수정하기</a></li>
              <li><a href="#">일기 삭제하기</a></li>
            </ul>
          </div>
          <div class="pack_footer">
            <h4>Show</h4>
            <a class="main_btn" href="{% url 'diary:calendar' %}">Show</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="packages_item">
          <div class="pack_head">
            <i class="bi bi-pencil-square"></i>
            <h3>일기 작성하기</h3>
            <p></p>
          </div>
          <div class="pack_body">
            <ul class="list">
              <li><a href="#">반려동물의 기념일 기록하기</a></li>
              <li><a href="#">반려동물 건강 기록하기</a></li>
              <li><a href="#">반려동물의 기분 기록하기</a></li>
            </ul>
          </div>
          <div class="pack_footer">
            <h4>Write</h4>
            <a class="main_btn" href="{% url 'diary:new' %}">Write</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Pagkages Area =================-->

<!--================Developer info =================-->
<div class="modal" id="developer-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Developer</h5>
      </div>
      <div class="modal-body">
        <div class="card text-center col-sm-3 m-2" style="float: left;">
          <div class="card-body">
            <a class="card-title" href="https://github.com/KimKongDol" target="blank_">김성민🐱</a>
          </div>
        </div>
        <div class="card text-center col-sm-3 m-2" style="float: left;">
          <div class="card-body">
            <a class="card-title" href="https://github.com/soeun06" target="blank_">안소은🦁</a>
          </div>
        </div>
        <div class="card text-center col-sm-3 m-2" style="float: left;">
          <div class="card-body">
            <a class="card-title" href="https://github.com/SJLEE316" target="blank_">이소정🐹</a>
          </div>
        </div>
        <div class="card text-center col-sm-3 m-2" style="float: left;">
          <div class="card-body">
            <a class="card-title" href="https://github.com/LeeSohyun0203" target="blank_">이소현🐶</a>
          </div>
        </div>
        <div class="card text-center col-sm-3 m-2" style="float: left;">
          <div class="card-body">
            <a class="card-title" href="https://github.com/Lee-Developer-git" target="blank_">이슬기🐥</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<section class="p_120" id="contact-area">
  <div class="container">
    <div class="impress_inner text-center">
      <h2>Developer</h2>
      <p>- 서비스 개발자를 소개합니다 -</p>
      <a class="main_btn2" data-bs-toggle="modal" href="#developer-modal" role="button">Contact</a>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="../static/js/component/main.js"></script>
<script src="../static/js/wow.min.js"></script>
<script>
  new WOW().init();
</script>

{% endblock %}