{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <img src="{% static 'img/gallery/banner.png' %}" alt="">
    <div class="container">
      <div class="banner_content text-center">
        <h2>MyPage</h2>
      </div>
    </div>
  </div>
</section>

<section class="about_area p_120">
  <div class="container">
    <img src="{% static 'img/gallery/paws_1.png' %}" width="100%" style="text-align: center;">
    <div class="row about_inner">
      <div class="col-lg-12">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                개인정보
                <i class="lnr lnr-chevron-down"></i>
                <i class="lnr lnr-chevron-up"></i>
              </button>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <h5>ID : {{user.username}}</h5>
                <h5>Email : {{user.email}} </h5>
                <h5>공개 여부 : {{user.profile.is_opened|slice:"2:4"}}</h5>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                내가 쓴 글
                <i class="lnr lnr-chevron-down"></i>
                <i class="lnr lnr-chevron-up"></i>
              </button>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table" style="width: 100%; text-align: center;">
                  <thead>
                    <tr>
                      <th scope="col" style="width: 25%;">제목</th>
                      <th scope="col" style="width: 45%;">내용</th>
                      <th scope="col">날짜</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for review in reviews %}
                    <tr>
                      <td><a href="{% url 'reviews:ReviewDetail' review.id %}">{{review.title}}</a></td>
                      <td>{{review.summary}}</td>
                      <td>{{review.pub_date}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                내가 쓴 일기
                <i class="lnr lnr-chevron-down"></i>
                <i class="lnr lnr-chevron-up"></i>
              </button>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table" style="width: 100%; text-align: center;">
                  <thead>
                    <tr>
                      <th scope="col" style="width: 25%;">날짜</th>
                      <th scope="col" style="width: 45%;">제목</th>
                      <th scope="col">특이사항</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for event in events %}
                    <tr>
                      <td>{{event.start_time}}</td>
                      <td><a href="{% url 'diary:detail' event.id %}">{{event.title}}</a></td>
                      <td>{{event.description}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <a type="button" class="main_btn float-end" href="{% url 'diary:calendar' %}"
                  style="width:10%; padding:2px 10px;">일기 바로가기</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<link rel="stylesheet" href="{% static 'css/component/mypage.css' %}" />

{% endblock %}